<div id="footer">
    <div class="justify-right align-right">
        <i>Right-justified line 1 in right-aligned column</i>
        <i>Right-justified line 2 in right-aligned column</i>
        <i>Right-justified line 3 in right-aligned column</i>
    </div>
</div>