.data-table {
  width: 100%;

  tr.odd-row {
    background-color: var(--light-grey-table-bg);
  }

  th,
  td {
    border: 1px solid;
    border-color: var(--grey-table-border);
    padding: 6px;
  }

  th {
    text-align: center;
    border-bottom-width: 2px;

    &.wide {
      width: 100%;
      white-space: normal;
    }
  }
}
