#footer {
  width: 100%;
  position: fixed;
  display: flex;
  flex: 1 1 0;
  bottom: -10%;
  width: 97%;
  color: var(--subtle-text);
  font-size: 10px;
  justify-content: space-between;

  > div {
    padding: 0 10px;
  }

  > div:nth-child(2) {
    width: min-content;
  }

  > div > i {
    display: block;
    padding: 2px;
  }

  td {
    padding: 2px;
  }
}
