// Used for address & doc_info blocks
.header-block {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;

  > .flex-fill {
    flex-grow: 1;
  }

  > div {
    width: fit-content;
  }

  &.align-right {
    flex-direction: row;
  }

  i {
    display: block;
    padding: 2px;
  }

  table tr td {
    padding: 2px;
  }
}
