.summary-table-wrapper {
  display: flex;
  width: 100%;

  .summary-table {
    width: 100%;
    page-break-inside: avoid !important;
    background-color: var(--light-grey-table-bg);

    td {
      text-align: right;
      font-weight: bold;
      padding: 6px;
      border: 1px solid lightgrey;
    }
  }
}
