<html>

<head>
  <meta charset="utf-8" />
  <title>{{ data["labels"][data["title_key"]] | default(data["title_default"]) }}</title>
  <meta name="description" content="{{ data["title"] }}" />
</head>

<body>
  {% include "v0/templates/seller_bill/head.html" %}

  <h3 class="document-title">{{ data["labels"][data["title_key"]] | default(data["title_default"]) }}</h3>
  {% include "v0/templates/seller_bill/table.html" %}

  {% include "v0/templates/seller_bill/footer.html" %}

  <div class="bottom-text">
  {% if data["tax_rate"] == 0 and data["type"] in ["gutschrift"] %}
    <p>{{ data["labels"]["tax_liability"] | default("Steuerschuldnerschaft des Leistungsempfängers", true) }}</p>
  {% endif%}
  </div>

</body>

</html>