<div id="footer">
    <div id="footer-left">
        <i>
            {{ data["labels"]["footer_amtsgericht"] | default("Amtsgericht Charlottenburg (Berlin)", true) }} {{ data["labels"]["footer_hrb"] | default("HRB", true) }} {{ " " }}
            {{- data["sender_address"]["hrb"] }}
        </i>
        <i>{{ data["labels"]["footer_office"] | default("Sitz Berlin", true) }}</i>
        <i>{{ data["labels"]["footer_managing_directors"] | default("Geschäftsführer Norman Liersch, Thomas Hildebrandt", true) }}</i>
    </div>

    <div id="footer-center">
        <i>{{ data["sender_address"]["company_name"] }}</i>
        <i>
            {{- data["sender_address"]["street"] }}
            {{- " " }}
            {{- data["sender_address"]["house_number"] }}
            {{- " • " }}
            {{- data["sender_address"]["zip_code"] }}
            {{- " " }}
            {{- data["sender_address"]["city"] }}
        </i>
        <i>{{ data["labels"]["footer_ust_id"] | default("Ust-ID:", true) }} {{ data["sender_address"]["ust_id"] }}</i>
    </div>

    <div id="footer-right">
        <table>
            <tbody>
                <tr>
                    <td>{{ data["labels"]["footer_iban"] | default("IBAN:", true) }}</td>
                    <td>{{ data["sender_address"]["iban"] }}</td>
                </tr>
                <tr>
                    <td>{{ data["labels"]["footer_bic"] | default("BIC:", true) }}</td>
                    <td>{{ data["sender_address"]["bic"] }}</td>
                </tr>
                <tr>
                    <td>{{ data["labels"]["footer_bank"] | default("Bank:", true) }}</td>
                    <td>{{ data["sender_address"]["bank"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
