<div id="sender-address-wrapper" class="block-wrapper right-align-block-wrapper">
    <div class="logo-wrapper">
        <img id="pfs-logo" src="http://localhost:8000/static/img/pfs_logo.svg">
    </div>

    <div class="flex-fill"></div>

    <div class="header-block">
        <i>
            {{ data["sender_address"]["company_name"] }}
        </i>
        <i>
            {{ data["sender_address"]["street"] -}}
            {{ " " }}
            {{- data["sender_address"]["house_number"] }}
        </i>
        <i>
            {{ data["sender_address"]["zip_code"] -}}
            {{ " " }}
            {{- data["sender_address"]["city"] }}
        </i>
        <i>
            {{ data["labels"]["sender_ust_id"] | default("USt-ID: ", true) }} {{ data["sender_address"]["ust_id"] }}
        </i>
    </div>
</div>

<div id="recipient-address-wrapper" class="block-wrapper">
    <div class="header-block">
        <i class="recipient-header">{{ data["labels"][data["recipient_header_key"]] | default(data["recipient_header_default"]) }}</i>
        {% if data["receiver_address"]["company_name"] %}
        <i>
            {{ data["receiver_address"]["company_name"] }}
        </i>
        {% endif %}
        <i>
            {{ data["receiver_address"]["first_name"] -}}
            {{ " " }}
            {{- data["receiver_address"]["last_name"] }}
        </i>
        <i>
            {{ data["receiver_address"]["street"] -}}
            {{ " " }}
            {{- data["receiver_address"]["house_number"] }}
        </i>
        {% if data["receiver_address"]["additional"] %}
        <i>
            {{ data["receiver_address"]["additional"] }}
        </i>
        {% endif %}
        <i>
            {{ data["receiver_address"]["zip_code"] -}}
            {{ " " }}
            {{- data["receiver_address"]["city"] }}
        </i>
        {% if data["receiver_address"]["tax_nr"] %}
        <i>{{ data["labels"]["receiver_tax_nr"] | default("Steuernummer:", true) }} {{ data["receiver_address"]["tax_nr"] }}</i>
        {% endif %}
        {% if data["receiver_address"]["ust_id"] %}
        <i>{{ data["labels"]["receiver_ust_id"] | default("USt-ID:", true) }} {{ data["receiver_address"]["ust_id"] }}</i>
        {% endif %}
        {% if data["receiver_address"]["tax_id"] %}
        <i>{{ data["labels"]["receiver_tax_id"] | default("Steuer-ID:", true) }} {{ data["receiver_address"]["tax_id"] }}</i>
        {% endif %}
    </div>
</div>

<div id="document-details-wrapper" class="block-wrapper right-align-block-wrapper">
    <div class="flex-fill"></div>
    <div class="header-block">
        <table>
            <tbody>
                <tr>
                    <td>{{ data["labels"][data["document_nr_label_key"]] | default(data["document_nr_label_default"], true) }}:</td>
                    <td>{{ data[data["document_nr_data_key"]] }}</td>
                </tr>
                {%- if data["type"] == "zahlungsavis" -%}
                <tr>
                    <td>{{ data["labels"]["date"] | default("Datum:", true) }}</td>
                    <td>{{ data["bill_date_pdf"] }}</td>
                </tr>
                {%- else -%}
                <tr>
                    <td>{{ data["labels"]["timeframe"] | default("Leistungszeitraum:", true) }}</td>
                    <td>{{ data["bill_period"] }}</td>
                </tr>
                <tr>
                    <td>{{ data["labels"]["date"] | default("Rechnungsdatum:", true) }}</td>
                    <td>{{ data["bill_date_pdf"] }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>