<table class="body-table">
    <thead>
        <tr>
            {% for column_config in data["columns"] %}
            <th>{{ data["labels"][column_config["label_key"]] | default(column_config["label_default"], true) }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data[data["data_key"]] %}
        <tr class="{% if loop.index % 2 == 1 %}odd-row{% endif %}">
            {% for column_config in data["columns"] %}
            <td class="{{ column_config["classes"] }}">
                {{ row[column_config["key"]] }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<table id="totals-table" class="body-table">
    <tbody>
        {% for row_config in data["totals_rows"] %}
        <tr>
            <td class="fill"></td>
            <td>{{ data["labels"][row_config["label_key"]] | default(row_config["label_default"], true) }}</td>
            <td class="currency">{{ data[data["totals_key"]][row_config["key"]] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>