<div class="header-block align-right">
    <div class="flex-fill"></div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Label 1</td>
                    <td>Line 1</td>
                </tr>
                <tr>
                    <td>Label 2</td>
                    <td>Line 2</td>
                </tr>
                <tr>
                    <td>Label 3</td>
                    <td>Line 3</td>
                </tr>
                <tr>
                    <td>Label 4</td>
                    <td>Line 4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>