.table-wrapper {
  width: 100%;

  > table {
    break-inside: auto;
    border-collapse: collapse;
    flex-grow: 1;

    &.no-fill-width,
    &.align-right,
    &.align-left {
      display: block;
      width: auto !important;
      flex-grow: 0 !important;
    }

    & > tbody {
      page-break-inside: avoid !important;
      break-inside: avoid !important;
    }

    td.row-number {
      text-align: right;
    }

    .numeric {
      text-align: center;
      white-space: nowrap;
    }

    .currency {
      text-align: right;
      white-space: nowrap;
    }

    .currency::after {
      content: " €";
    }
  }

  .flex-fill {
    flex-grow: 1;

    &.left-side.align-left,
    &.right-side.align-right {
      flex-grow: 0 !important;
    }
  }
}
