.totals-table-wrapper {
  display: flex;

  .totals-table {
    page-break-inside: avoid !important;

    td {
      border-width: 0;
      padding: 8px 16px;
      text-align: right;
    }

    tbody:first-child td {
      padding-top: 16px;
    }

    tbody td:last-child {
      white-space: nowrap;
    }

    tbody:last-child td {
      font-weight: bold;
      border-top: 1px solid grey;
      border-bottom: 2px double grey;
    }
  }
}
