<div class="table-wrapper">
    <div class="table-flex-container">
        <div class="flex-fill left-side align-right"></div>
        <table class="totals-table no-fill-width">
            <tbody>
                <tr>
                    <td>Summe Nettobeträge</td>
                    <td class="currency">2955,00</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Umsatzsteuer 19,00 %</td>
                    <td class="currency">561,45</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Rechnungsbetrag</td>
                    <td class="currency">3516,45</td>
                </tr>
            </tbody>
        </table>
        <div class="flex-fill right-side align-right"></div>
    </div>
</div>