<html>

<head>
  <meta charset="utf-8" />
  <title>{{ data["labels"]["title"] | default("Stornorechnung", true) }}</title>
  <meta name="description" content="{{ data['labels']['title'] | default('Stornorechnung', true) }}" />
</head>

<body>
  {% include "v0/templates/reversal_bill/head.html" %}

  <h3 class="document-title">{{ data["labels"]["title"] | default("Stornorechnung", true) }}</h3>

  <div class="top-text">
    {% for line in data["labels"]["top_lines"] %}
    <p>{{ line }}</p>
    {% endfor %}
  </div>

  {% include "v0/templates/reversal_bill/table.html" %}

  {% include "v0/templates/reversal_bill/footer.html" %}

  <div class="bottom-text">
    {% for line in data["labels"]["extra_lines"] %}
    <p>{{ line }}</p>
    {% endfor %}
  </div>

</body>

</html>