@page {
  size: A4 portrait;
  margin: 2cm 1.5cm 3cm 1.5cm;
  font-size: 10px;
}

.document-title {
  padding-top: 32px;
}

#footer {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 97%;
  transform: translate(0, 130%);
  color: var(--subtle-text);
  font-size: 9px;
  align-items: center;
}

#footer-center {
  flex-grow: 0;
}

#footer-right,
#footer-left {
  flex: 1 1 0;
}

#footer-right > table {
  margin-left: auto;
}

#footer-center > i {
  text-align: center;
}

#footer > div > i {
  display: block;
  margin: 4px;
}

.body-table {
  width: 100%;
}

.body-table,
.body-table th,
.body-table td {
  border: 1px solid;
  border-color: var(--grey-table-border);
  border-collapse: collapse;
}

.body-table,
#totals-table th,
#totals-table td {
  border-width: 0;
}

.body-table td,
.body-table th {
  padding: 6px;
}

.body-table th {
  text-align: center;
  border-bottom-width: 2px;
}

#totals-table {
  page-break-inside: avoid !important;
}

#totals-table td.fill {
  width: 99%;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

#totals-table tr td {
  padding: 8px 16px;
  text-align: right;
}

#totals-table tr:first-child > td {
  padding-top: 16px;
}

#totals-table td.no-content {
  border: none !important;
}

#totals-table tr:last-child > td {
  font-family: "LieraSansBold";
  border-top: 1px solid grey;
  border-bottom: 2px double grey;
}
