<table class="body-table">
  <thead>
    <tr>
      {% if data["doc_type"] != "avis" %}
      <th class="widest">Leistung</th>
      <th>Anzahl</th>
      <th>Preis in EUR</th>
      <th>Summe in EUR</th>
      {% else %}
      <th class="widest">Leistung</th>
      <th>Rechnungsnummer</th>
      <th>Datum</th>
      <th>Zahlbetrag in EUR</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for row in data["charges_reversed"] %}
    {% if data["doc_type"] != "avis" %}
    <tr class="{% if loop.index % 2 == 1 %}odd-row{% endif %}">
      <td class="widest">{{ row["label"] }}</td>
      <td class="numeric">{{ row["count"] }}</td>
      <td class="currency">{{ row["value_per_unit"] }}</td>
      <td class="currency">{{ row["net_value_string"] }}</td>
    </tr>
    {% else %}
    <tr class="{% if loop.index % 2 == 1 %}odd-row{% endif %}">
      <td class="widest">{{ row["label"] }}</td>
      <td>{{ row["count"] }}</td>
      <td>{{ row["value_per_unit"] }}</td>
      <td class="currency">{{ row["net_value_string"] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<table id="totals-table" class="body-table">
  <tbody>
    <tr>
      <td class="fill"></td>
      <td>
        {{ data["labels"]["net_value_sum"] | default("Summe Nettobeträge", true) }}
      </td>
      <td class="currency">
        {{ data["charge_totals_reversed"]["net_value_string"] }}
      </td>
    </tr>
    {% if data["doc_type"] != "avis" %}
    <tr>
      <td class="fill"></td>
      {% if data["labels"]["tax_sum"] %}
      <td>{{ data["labels"]["tax_sum"] }}</td>
      {% else %}
      <td>Umsatzsteuer {{ data["tax_rate_pdf"] }}</td>
      {% endif %}
      <td class="currency">{{ data["charge_totals_reversed"]["tax"] }}</td>
    </tr>
    {% endif %}
    <tr>
      <td class="fill"></td>
      <td>
        {{ data["labels"]["gross_value_sum"] | default("Rechnungsbetrag", true) }}
      </td>
      <td class="currency">
        {{ data["charge_totals_reversed"]["gross_value_string"] }}
      </td>
    </tr>
  </tbody>
</table>