<div class="table-wrapper data-table-wrapper">
    <div class="flex-fill left-side"></div>
    <table class="data-table">
        <thead>
            <tr>
                <th>Column name 1</th>
                <th>Column name 2</th>
                <th>Column name 3</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd-row">
                <td>Row 1 cell 1</td>
                <td class="numeric">32</td>
                <td class="currency">300</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Row 2 cell 1</td>
                <td class="numeric">32</td>
                <td class="currency">5000,32</td>
            </tr>
        </tbody>
    </table>
    <div class="flex-fill right-side"></div>
</div>