<html>

<head>
  <meta charset="utf-8" />
  <title>{{ data["title"] }}</title>
  <meta name="description" content="{{ data["title"] }}" />
</head>

<body>
  <h3>
    {% if data[data["header_key"]] %}
    {{ data[data["header_key"]] }}
    {% else %}
    {{ data["labels"][data["header_key"]] | default(data["header_default"], true) }}
    {% endif %}
  </h3>
  <table class="body-table">
    <thead>
      <tr>
        {% for column_config in data["columns"] %}
        <th>{{ data["labels"][column_config["label_key"]] | default(column_config["label_default"], true) }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data[data["data_key"]] %}
      {% set position_idx = loop.index %}
      <tr class="{% if position_idx % 2 == 1 %}odd-row{% endif %}">
        {% for column_config in data["columns"] %}
        {% if column_config["type"] == "count" %}
        <td class="width-to-content align-right">{{ position_idx }}</td>
        {% else %}
        <td class="{{ column_config["classes"] }}">{{ row[column_config["key"]] }}</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>