@page {
  size: A4 portrait;
  margin: 2cm 1.5cm 3cm 1.5cm;
  font-size: 10px;
}

.body-table {
  width: 100%;
}

.body-table,
.body-table th,
.body-table td {
  border: 1px solid;
  border-color: var(--grey-table-border);
  border-collapse: collapse;
}

.body-table td,
.body-table th {
  padding: 6px;
}

.body-table th {
  text-align: center;
  border-bottom-width: 2px;
}
