<html>

<head>
  <meta charset="utf-8" />
  <title>{{ data["labels"]["title"] | default("Agenturrechnung", true) }}</title>
  <meta name="description" content="Agenturrechnung" />
</head>

<body>
  {% include "v0/templates/agency_bill/head.html" %}

  <h3>{{ data["labels"]["overview_table_header"] | default("Übersicht", true) }}</h3>
  {% include "v0/templates/agency_bill/table_uebersicht.html" %}


  {% with positions=data["positions"], billing_month=true %}
  <h3>{{ data["labels"]["services_table_header"] | default("Vermittlung der Betreuungsdienstleistungen", true) }}</h3>
  {% include "v0/templates/agency_bill/table_dienstleistungen.html" %}
  {% endwith %}

  {% if data["positions_prior"] %}
  <h3>{{ data["labels"]["services_table_header_prior"] | default("Korrekturpositionen", true) }}</h3>
  {% with positions=data["positions_prior"], billing_month=false %}
  {% include "v0/templates/agency_bill/table_dienstleistungen.html" %}
  {% endwith %}
  {% endif %}

  {% if data["overview"].get("one_time_discount_list", []) | length > 0 %}
  <h3>{{ data["labels"]["discount_table_header"] | default("Einmalige Rabatte", true) }}</h3>
  {% include "v0/templates/agency_bill/table_rabatte.html" %}
  {% endif %}

  {% include "v0/templates/agency_bill/footer.html" %}

  {% if data["labels"]["extra_lines"] %}
  {% for line in data["labels"]["extra_lines"] %}
  <p>{{ line }}</p>
  {% endfor %}
  {% else %}
  <p>Zahlungsbedingungen: sofort ohne Abzug</p>
  <p>Steuerschuldnerschaft des Leistungsempfängers</p>
  {% endif %}
</body>

</html>