@page {
  size: A4 portrait;
  margin: 2cm 1.5cm 3cm 1.5cm;
  font-size: 10px;

  @bottom-right {
    color: var(--subtle-text);
    content: counter(page) " von " counter(pages);
    margin: 0 16px 24px 0;
  }
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 97%;
  transform: translate(0, 130%);
  color: var(--subtle-text);
  font-size: 10px;
  align-items: center;
}

#footer-left {
  flex-grow: 1;
  z-index: -1;
  white-space: pre-line;
}

h3 {
  margin-top: 32px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
  border-color: var(--grey-table-border);
  border-collapse: collapse;
}

td,
th {
  padding: 6px;
  text-align: center;
}

th {
  text-align: center;
  border-bottom-width: 2px;
}

tr.patient-row {
  page-break-inside: avoid !important;
}

#uebersicht-table {
  background-color: var(--light-grey-table-bg);
  font-family: "LieraSansBold";
}

#uebersicht-table td {
  text-align: right;
}

footer {
  string-set: footer content();
}
