<footer>
    <div id="footer-left">
        {{ data["sender_address"]["company_name"] }}
        {{- " • " -}}
        {{ data["labels"]["footer_managing_directors"] | default("Geschäftsführer: Norman Liersch", true) }}
        {{ data["labels"]["footer_bank_name"] | default("Commerzbank", true) }} {{ data["labels"]["footer_iban"] | default("IBAN", true) }} {{ data["sender_address"]["iban"] }}
        {{- " • " -}}
        {{ data["labels"]["footer_bic"] | default("BIC", true) }} {{ data["sender_address"]["bic"] }}
        {{ data["labels"]["footer_tax_nr"] | default("Steuernummer", true) }} {{ data["sender_address"]["tax_nr"] }}
        {{- " • " -}}
        {{ data["labels"]["footer_ust_id"] | default("Ust-ID", true) }} {{ data["sender_address"]["ust_id"] }}
        {{- " • " -}}
        {{ data["labels"]["footer_hrb"] | default("HRB", true) }} {{ data["sender_address"]["hrb"] }}
    </div>
    <div id="footer-right"></div>
</footer>