<div id="sender-address-wrapper" class="block-wrapper right-align-block-wrapper">
    <div class="logo-wrapper">
        <img id="pfs-logo" src="http://localhost:8000/static/img/pfs_logo.svg">
    </div>

    <div class="flex-fill"></div>

    <div class="header-block">
        <i>
            {{ data["sender_address"]["company_name"] }}
        </i>
        <i>
            {{ data["sender_address"]["street"] -}}
            {{ " " }}
            {{- data["sender_address"]["house_number"] }}
        </i>
        <i>
            {{ data["sender_address"]["zip_code"] -}}
            {{ " " }}
            {{- data["sender_address"]["city"] }}
        </i>
    </div>
</div>

<div id="recipient-address-wrapper" class="block-wrapper">
    <div class="header-block">
        <i class="recipient-header">{{ data["labels"]["recipient_header"] }}</i>
        <i>
            {{ data["receiver_address"]["company_name"] }}
        </i>
        <i>
            {{ data["receiver_address"]["street"] -}}
            {{ " " }}
            {{- data["receiver_address"]["house_number"] }}
        </i>
        <i>
            {{ data["receiver_address"]["zip_code"] -}}
            {{ " " }}
            {{- data["receiver_address"]["city"] }}
        </i>
        
        {% if data["receiver_address"]["tax_nr"] %}
        <i>{{ data["labels"]["receiver_tax_nr"] | default("Steuernummer:", true) }} {{ data["receiver_address"]["tax_nr"] }}</i>
        {% endif %}
        {% if data["receiver_address"]["ust_id"] %}
        <i>{{ data["labels"]["receiver_ust_id"] | default("USt-ID:", true) }} {{ data["receiver_address"]["ust_id"] }}</i>
        {% endif %}
        {% if data["receiver_address"]["tax_id"] %}
        <i>{{ data["labels"]["receiver_tax_id"] | default("Steuer-ID:", true) }} {{ data["receiver_address"]["tax_id"] }}</i>
        {% endif %}
    </div>
</div>

<div id="document-details-wrapper" class="block-wrapper right-align-block-wrapper">
    <div class="flex-fill"></div>
    <div class="header-block">
        <table>
            <tbody>
                <tr>
                    <td>{{ data["labels"]["document_nr"] | default("Rechnungsnummer:", true) }}</td>
                    <td>{{ data["bill_nr"] }}</td>
                </tr>
                <tr>
                    <td>{{ data["labels"]["timeframe"] | default("Rechnung für", true) }}</td>
                    <td>{{ data["bill_period"] }}</td>
                </tr>
                <tr>
                    <td>{{ data["labels"]["date"] | default("Datum:", true) }}</td>
                    <td>{{ data["bill_date_pdf"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>