<table>
    <thead>
        <tr>
            <th>{{ data["labels"]["discount_table_col1"] | default("Pos.", true) }}</th>
            <th>{{ data["labels"]["discount_table_col2"] | default("Patient", true) }}</th>
            <th>{{ data["labels"]["discount_table_col3"] | default("Rabatt", true) }}</th>
        </tr>
    </thead>
    <tbody>
        {% for discount in data["overview"]["one_time_discount_list"] %}
        <tr class="patient-row {% if loop.index % 2 == 1 %}odd-row{% endif %}">
            <td>{{ loop.index }}.</td>
            <td>{{ discount[0] }}</td>
            <td class="red-text align-right currency">{{ discount[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>