<table id="dienstleistungen">
    <thead>
        <tr>
            <th>{{ data["labels"]["services_table_col1"] | default("Pos.", true) }}</th>
            <th>{{ data["labels"]["services_table_col2"] | default("Patient", true) }}</th>
            {% if billing_month %}
            <th>{{ data["labels"]["services_table_col3"] | default("Beginn", true) }}</th>
            <th>{{ data["labels"]["services_table_col4"] | default("Ende", true) }}</th>
            {% endif %}
            <th>{{ data["labels"]["services_table_col5"] | default("Tage", true) }}</th>
            <th>{{ data["labels"]["services_table_col6"] | default("Mon. Prov.", true) }}</th>
            <th>{{ data["labels"]["services_table_col7"] | default("Ges. Tage", true) }}</th>
            <th>{{ data["labels"]["services_table_col8"] | default("Betrag", true) }}</th>
        </tr>
    </thead>
    <tbody>
        {% for position in positions %}
        {% set position_idx = loop.index %}
        <tr class="patient-row {% if position_idx % 2 == 1 %}odd-row{% endif %}">
            <td>
                {{ position_idx }}.
            </td>
            <td>
                {{ position["merged_names"] }}
            </td>

            {% if billing_month %}
            <td class="unpadded">
                <div class="nobreak-rowspan">
                    {% for segment in position["segments"] %}
                    <div class="like-cell">{{ segment["start"] }}</div>
                    {% endfor %}
                </div>
            </td>

            <td class="unpadded">
                <div class="nobreak-rowspan">
                    {% for segment in position["segments"] %}
                    <div class="like-cell">{{ segment["end"] }}</div>
                    {% endfor %}
                </div>
            </td>
            {% endif %}

            <td class="unpadded">
                <div class="nobreak-rowspan">
                    {% for segment in position["segments"] %}
                    <div class="like-cell numeric">{{ segment["duration"] }}</div>
                    {% endfor %}
                </div>
            </td>

            <td class="unpadded">
                <div class="nobreak-rowspan">
                    {% for segment in position["segments"] %}
                    <div class="like-cell currency">{{ segment["full_provision"] }}</div>
                    {% endfor %}
                </div>
            </td>

            <td class="numeric">
                {{ position["total_duration"] }}
            </td>
            <td class="align-right currency">
                {{ position["total"] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>