<table id="uebersicht-table">
    <tbody>
        {% for entry in data["overview"]["rows"] %}
        <tr>
            <td class="left-column">{{ entry["label"] }}</td>
            <td class="right-column currency">{{ entry["gross_value_string"] }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td class="left-column">{{ data["labels"]["overview_table_sum"] | default("Summe:", true) }}</td>
            <td class="right-column currency">{{ data["overview"]["total"] }}</td>
        </tr>
    </tbody>
</table>