<div class="header-block">
    <div class="flex-fill"></div>
    <div>
        <span class="bold">Top line: Bold</span>
        <span>Line 1</span>
        <span>Line 2</span>
        <span>Line 3</span>
        <span>Line 4</span>
    </div>
</div>