<div class="table-wrapper data-table-wrapper">
    <div class="flex-fill left-side"></div>
    <table class="data-table">
        <thead>
            <tr>
                <th>Pos.</th>
                <th>Patient</th>
                <th>Beginn</th>
                <th>Ende</th>
                <th>Tage</th>
                <th>Mon. Prov.</th>
                <th>Ges. Tage</th>
                <th>Betrag</th>
            </tr>
        </thead>

        <tbody>
            <tr class="odd-row">
                <td class="row-number" rowspan="1">1.</td>
                <td rowspan="1">Human Being 1</td>
                <td>01.11.21</td>
                <td>12.11.21</td>
                <td class="numeric">12</td>
                <td class="currency">299,00</td>
                <td rowspan="1" class="numeric" rowspan="1">12,00</td>
                <td rowspan="1" class="currency" rowspan="1">119,60</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="row-number" rowspan="3">2.</td>
                <td rowspan="3">Human Being 2</td>
                <td>01.11.21</td>
                <td>02.11.21</td>
                <td class="numeric">2</td>
                <td class="currency">255,00</td>
                <td class="numeric" rowspan="3">21,00</td>
                <td class="currency" rowspan="3">206,37</td>
            </tr>
            <tr>
                <td>06.11.21</td>
                <td>08.11.21</td>
                <td class="numeric">3</td>
                <td class="currency">299,00</td>
            </tr>
            <tr>
                <td>15.11.21</td>
                <td>30.11.21</td>
                <td class="numeric">16</td>
                <td class="currency">299,00</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="odd-row">
                <td class="row-number" rowspan="1">3.</td>
                <td rowspan="1">Human Being 3</td>
                <td>01.11.21</td>
                <td>30.11.21</td>
                <td class="numeric">30</td>
                <td class="currency">299,00</td>
                <td class="numeric" rowspan="1">30,00</td>
                <td class="currency" rowspan="1">299,00</td>
            </tr>
        </tbody>
    </table>
    <div class="flex-fill right-side"></div>
</div>