<div class="table-wrapper data-table-wrapper">
    <div class="flex-fill left-side"></div>
    <table class="data-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Column name 1</th>
                <th>Column name 2</th>
                <th>Column name 3</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd-row">
                <td class="row-number">Test 1</td>
                <td>Row 1 cell 1</td>
                <td>Row 1 cell 2</td>
                <td>Row 1 cell 3</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="row-number">Test 2</td>
                <td>Row 2 cell 1</td>
                <td>Row 2 cell 2</td>
                <td>Row 2 cell 3</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="odd-row">
                <td class="row-number">Test 3</td>
                <td>Row 3 cell 1</td>
                <td>Row 3 cell 2</td>
                <td>Row 3 cell 3</td>
            </tr>
        </tbody>
    </table>
    <div class="flex-fill right-side"></div>
</div>