<div class="header-block {{ alignment_class }}">
    <div class="flex-fill"></div>
    <div>
        {% if header %}
        <span class="bold">{{ header }}</span>
        {% endif %}

        {% if lines %}
        {% for line in lines %}
        <span>{{ line }}</span>
        {% endfor %}
        {% endif %}

        {% if table %}
        <table>
            <tbody>
                {% for row in table %}
                <tr>
                    {% for item in row %}
                    <td>
                        {{ item }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>