<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
</head>

<body>
    {% for component in components %}
    {{ component.html }}
    {% endfor %}
</body>

</html>