<div {% if justify_text or alignment_class %} class="{{ justify_text }} {{ alignment_class }}" {%- endif %}>
    {% if lines %}
    {% for line in lines %}
    <i>{{ line }}</i>
    {% endfor %}
    {% endif %}

    {% if table %}
    <table>
        <tbody>
            {% for row in table %}
            <tr>
                {% for item in row %}
                <td>
                    {{ item }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>