<div class="table-wrapper {{ table_type }}-wrapper">
    <div class="flex-fill left-side {{ alignment_class }}"></div>
    <table class="{{ table_type }} {{ fill_width }}">
        {% if column_headers and show_column_header_content %}
        <thead>
            <tr>
                {% if numbered_rows %}
                <th>{{ numbered_row_label }}</th>
                {% endif %}
                {% for _ch in column_headers %}
                {% with ch=_ch.parsed_data %}
                <th {% if ch.justify_text or ch.fill_width %}class="{{- ch.justify_text }} {{ ch.fill_width }}" {%- endif %}>
                    {{ ch.content }}
                </th>
                {% endwith %}
                {% endfor %}
            </tr>
        </thead>
        {% endif %}

        {% for row in rows %}
        <tbody>
            {% set row_idx = loop.index %}

            {# Rowspan rows #}
            {% if row_contains_rowspan(row) %}
            {% with rowspan = rowspan_length(row) %}

            {% for _ in range(rowspan) %}
            {% set rowspan_row = loop.index %}
            <tr {% if colour_alternate_rows and row_idx % 2==1 %}class="odd-row" {% endif %}>

                {% if numbered_rows and rowspan_row == 1 %}
                <td class="row-number" rowspan="{{ rowspan }}">{{ numbered_row_template.format(idx=row_idx) }}</td>
                {% endif %}

                {% for cell, _ch in zip(row, column_headers) %}
                {% with ch=_ch.parsed_data %}
                {% if ch.rowspan %}
                <td {% if ch.type_class %}class="{{- ch.type_class }}" {%- endif %}>
                    {{ cell[rowspan_row - 1] }}
                </td>
                {% elif rowspan_row == 1 %}
                <td {% if ch.type_class %}class="{{- ch.type_class }}" {%- endif %} rowspan="{{ rowspan }}">
                    {{ cell | safe }}
                </td>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </tr>
            {% endfor %}
            {% endwith %}

            {% else %}
            <tr {% if colour_alternate_rows and row_idx % 2==1 %}class="odd-row" {% endif %}>
                {% if numbered_rows %}
                <td class="row-number">{{ numbered_row_template.format(idx=row_idx) }}</td>
                {% endif %}

                {% for cell, _ch in zip(row, column_headers) %}
                {% with ch=_ch.parsed_data %}
                <td {% if ch.type_class %}class="{{- ch.type_class }}" {%- endif %}>
                    {{ cell | safe }}
                </td>
                {% endwith %}
                {% endfor %}
            </tr>
            {% endif %}
        </tbody>
        {% endfor %}
    </table>
    <div class="flex-fill right-side {{ alignment_class }}"></div>
</div>