<div id="footer">
    <div>
        <i>Left line 1</i>
        <i>Left line 2</i>
        <i>Left line 3</i>
    </div>

    <div>
        <i>Centre line 1</i>
        <i>Centre line 2</i>
        <i>Centre line 3</i>
        <i>Centre line 4</i>
    </div>

    <div>
        <i>Right line 1</i>
        <i>Right line 2</i>
        <i>Right line 3</i>
    </div>
</div>