<div>
    <table>
        <tbody>
            <tr>
                <td>Table label 1</td>
                <td>Table info 1</td>
            </tr>
            <tr>
                <td>Table label 2</td>
                <td>Table info 2</td>
            </tr>
            <tr>
                <td>Table label 3</td>
                <td>Table info 3</td>
            </tr>
        </tbody>
    </table>
</div>