<div id="footer">
    <div class="justify-middle">
        <i>Centred left line 1</i>
        <i>Centred left line 2</i>
        <i>Centred left line 3</i>
    </div>

    <div class="justify-middle">
        <i>Centred centre line 1</i>
        <i>Centred centre line 2</i>
        <i>Centred centre line 3</i>
        <i>Centred centre line 4</i>
    </div>

    <div class="justify-right">
        <i>Right-aligned right line 1</i>
        <i>Right-aligned right line 2</i>
        <i>Right-aligned right line 3</i>
    </div>
</div>