<div class="table-wrapper summary-table-wrapper">
    <div class="flex-fill left-side"></div>
    <table class="summary-table">
        <tbody>
            <tr>
                <td>Row 1 cell 1</td>
                <td class="currency">Row 1 cell 2</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Row 2 cell 1</td>
                <td class="currency">Row 2 cell 2</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Row 3 cell 1</td>
                <td class="currency">Row 3 cell 2</td>
            </tr>
    </table>
    <div class="flex-fill right-side"></div>
</div>