<div id="footer">
    <div>
        <i>Long, long, long, long, long, long, long, long, long, long, long, long left line 1</i>
        <i>Left line 2</i>
        <i>Left line 3</i>
    </div>

    <div>
        <i>Right line 1</i>
        <i>Right line 2</i>
        <i>Right line 3</i>
    </div>
</div>