<div class="table-wrapper data-table-wrapper">
    <div class="flex-fill left-side align-left"></div>
    <table class="data-table no-fill-width">
        <thead>
            <tr>
                <th>Column name 1</th>
                <th>Column name 2</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd-row">
                <td>Row 1 cell 1</td>
                <td>Row 1 cell 2</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Row 2 cell 1</td>
                <td>Row 2 cell 2</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="odd-row">
                <td>Row 3 cell 1</td>
                <td>Row 3 cell 2</td>
            </tr>
        </tbody>
    </table>
    <div class="flex-fill right-side align-left"></div>
</div>