<div class="header-block {{ alignment_class }}">
    <div class="flex-fill"></div>
    <div>
        {% if header %}
        <i class="bold">{{ header }} </i>
        {% endif %}
        {% for line in lines %}
        <i>{{ line }}</i>
        {% endfor %}
    </div>
</div>