<div class="table-wrapper">
    <div class="table-flex-container">
        <div class="flex-fill left-side {{ alignment_class }}"></div>
        <table class="totals-table no-fill-width">
            {% for row in rows %}
            <tbody>
                <tr>
                    <td>{{ row[0] }}</td>
                    <td class="currency">{{ row[1] }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="flex-fill right-side {{ alignment_class }}"></div>
    </div>
</div>