<div id="footer">
    <div>
        <i>Left line 1</i>
        <i>Left line 2</i>
        <i>Left line 3</i>
    </div>

    <div>
        <i>Centre line 1</i>
        <i>Centre line 2</i>
    </div>

    <div>
        <table>
            <tbody>
                <tr>
                    <td>Table label 1</td>
                    <td>Table info 1</td>
                </tr>
                <tr>
                    <td>Table label 2</td>
                    <td>Table info 2</td>
                </tr>
                <tr>
                    <td>Table label 3</td>
                    <td>Table info 3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>