@page {
  size: A4 portrait;
  margin: 2cm 1.5cm 4cm 1.5cm;

  @bottom-right {
    color: var(--subtle-text);
    content: counter(page) " von " counter(pages);
    margin: 0 16px 24px 0;
    transform: translate(0, 20px);
  }
}

:root {
  font-family: "Liera Sans";
  font-weight: 200;
  font-size: 11px;
  --subtle-text: rgb(119, 119, 119);
  --light-grey-table-bg: rgb(244, 244, 244);
  --grey-table-border: rgb(214, 214, 214);
}

.justify-middle {
  text-align: center;
}

.justify-right {
  text-align: right;
}

i {
  font-style: normal;
}
