:root {
  font-family: "LieraSansRegular";
  font-size: 11px;
  --subtle-text: rgb(119, 119, 119);
  --light-grey-table-bg: rgb(244, 244, 244);
  --grey-table-border: rgb(214, 214, 214);
}

/* MISC */
.red-text {
  color: rgb(202, 0, 0);
}

.align-right {
  text-align: right;
}

.hidden {
  display: none;
}

.width-to-content {
  width: 1%;
  white-space: nowrap;
}

.body-table td {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

tr.odd-row {
  background-color: var(--light-grey-table-bg);
}

div.like-cell {
  padding: 6px;
  border-bottom: 1px solid;
  border-color: var(--grey-table-border);
}

div.like-cell:last-child {
  border: none;
}

.unpadded {
  padding: 0;
}

.nobreak-rowspan {
  page-break-inside: avoid !important;
}

.currency,
.numeric {
  text-align: right;
  white-space: nowrap;
}

.currency::after {
  content: " €";
}

td.widest {
  min-width: 20%;
  white-space: normal;
  text-align: left;
}

/* HEADER */
.block-wrapper {
  display: flex;
}

.right-align-block-wrapper {
  flex-direction: row;
}

.flex-fill {
  flex-grow: 1;
}

.header-block {
  display: inline-block;
}

.header-block > i {
  display: block;
  padding: 2px;
}

.recipient-header {
  font-family: "LieraSansBold";
}

#recipient-address-wrapper {
  display: flex;
  margin-top: 32px;
}

#recipient-address {
  display: inline-block;
  margin-right: 0;
  border: 1px solid red;
}

#recipient-address > i {
  display: block;
}

.bottom-text > p:first-child {
  margin: 32px 0 0;
}

#pfs-logo {
  height: 48px;
}

#document-details-wrapper table,
#document-details-wrapper table tr,
#document-details-wrapper table td {
  border-width: 0;
  text-align: left;
  padding: 2px;
}

/* FONTS */
@font-face {
  font-family: "LieraSansBold";
  src: url("http://localhost:8000/static/fonts/LieraSansBold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LieraSansItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LieraSansMedium";
  src: url("http://localhost:8000/static/fonts/LieraSansMedium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: "LieraSansRegular";
  src: url("http://localhost:8000/static/fonts/LieraSansRegular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "LieraSansBlack";
  src: url("http://localhost:8000/static/fonts/LieraSansBlack.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LieraSansBlackItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansBlackItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LieraSansBoldItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansBoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LieraSansExtraBold";
  src: url("http://localhost:8000/static/fonts/LieraSansExtraBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LieraSansExtraBoldItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansExtraBoldItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LieraSansExtraLight";
  src: url("http://localhost:8000/static/fonts/LieraSansExtraLight.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LieraSansExtraLightItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansExtraLightItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LieraSansLight";
  src: url("http://localhost:8000/static/fonts/LieraSansLight.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LieraSansLightItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansLightItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LieraSansMediumItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansMediumItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "LieraSansSemiBold";
  src: url("http://localhost:8000/static/fonts/LieraSansSemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LieraSansSemiBoldItalic";
  src: url("http://localhost:8000/static/fonts/LieraSansSemiBoldItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
} */
