<div class="header-block">
    <div class="flex-fill"></div>
    <div>
        <i class="bold">Leistungsempfänger</i>
        <i>0</i>
        <i>1</i>
        <i>2</i>
        <i>3</i>
        <i>4</i>
        <i>5</i>
        <i>6</i>
        <i>7</i>
        <i>8</i>
        <i>9</i>
        <i>10</i>
        <i>11</i>
        <i>12</i>
        <i>13</i>
        <i>14</i>
        <i>15</i>
        <i>16</i>
        <i>17</i>
        <i>18</i>
        <i>19</i>
        <i>20</i>
        <i>21</i>
        <i>22</i>
        <i>23</i>
        <i>24</i>
        <i>25</i>
        <i>26</i>
        <i>27</i>
        <i>28</i>
        <i>29</i>
        <i>30</i>
        <i>31</i>
        <i>32</i>
        <i>33</i>
        <i>34</i>
        <i>35</i>
        <i>36</i>
        <i>37</i>
        <i>38</i>
        <i>39</i>
        <i>40</i>
        <i>41</i>
        <i>42</i>
        <i>43</i>
        <i>44</i>
        <i>45</i>
        <i>46</i>
        <i>47</i>
        <i>48</i>
        <i>49</i>
        <i>50</i>
        <i>51</i>
        <i>52</i>
        <i>53</i>
        <i>54</i>
        <i>55</i>
        <i>56</i>
        <i>57</i>
        <i>58</i>
        <i>59</i>
        <i>60</i>
        <i>61</i>
        <i>62</i>
        <i>63</i>
        <i>64</i>
        <i>65</i>
        <i>66</i>
        <i>67</i>
        <i>68</i>
        <i>69</i>
        <i>70</i>
        <i>71</i>
        <i>72</i>
        <i>73</i>
        <i>74</i>
        <i>75</i>
        <i>76</i>
        <i>77</i>
        <i>78</i>
        <i>79</i>
        <i>80</i>
        <i>81</i>
        <i>82</i>
        <i>83</i>
        <i>84</i>
        <i>85</i>
        <i>86</i>
        <i>87</i>
        <i>88</i>
        <i>89</i>
        <i>90</i>
        <i>91</i>
        <i>92</i>
        <i>93</i>
        <i>94</i>
        <i>95</i>
        <i>96</i>
        <i>97</i>
        <i>98</i>
        <i>99</i>
    </div>
</div>