@charset "UTF-8";
@page {
  size: A4 portrait;
  margin: 2cm 1.5cm 4cm 1.5cm;
  @bottom-right {
    color: var(--subtle-text);
    content: counter(page) " von " counter(pages);
    margin: 0 16px 24px 0;
    transform: translate(0, 20px);
  }
}
:root {
  font-family: "Liera Sans";
  font-weight: 200;
  font-size: 11px;
  --subtle-text: rgb(119, 119, 119);
  --light-grey-table-bg: rgb(244, 244, 244);
  --grey-table-border: rgb(214, 214, 214);
}

.justify-middle {
  text-align: center;
}

.justify-right {
  text-align: right;
}

i {
  font-style: normal;
}

.header-block {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}
.header-block > .flex-fill {
  flex-grow: 1;
}
.header-block > div {
  width: fit-content;
}
.header-block.align-right {
  flex-direction: row;
}
.header-block i {
  display: block;
  padding: 2px;
}
.header-block table tr td {
  padding: 2px;
}

#footer {
  width: 100%;
  position: fixed;
  display: flex;
  flex: 1 1 0;
  bottom: -10%;
  width: 97%;
  color: var(--subtle-text);
  font-size: 10px;
  justify-content: space-between;
}
#footer > div {
  padding: 0 10px;
}
#footer > div:nth-child(2) {
  width: min-content;
}
#footer > div > i {
  display: block;
  padding: 2px;
}
#footer td {
  padding: 2px;
}

h3 {
  margin-top: 36px;
}

.image-wrapper {
  position: relative;
}
.image-wrapper .image-container {
  position: absolute;
  float: inline-start;
}
.image-wrapper .image-container > img {
  height: 48px;
}

.page-break {
  break-after: always;
}

.table-wrapper {
  width: 100%;
}
.table-wrapper > table {
  break-inside: auto;
  border-collapse: collapse;
  flex-grow: 1;
}
.table-wrapper > table.no-fill-width, .table-wrapper > table.align-right, .table-wrapper > table.align-left {
  display: block;
  width: auto !important;
  flex-grow: 0 !important;
}
.table-wrapper > table > tbody {
  page-break-inside: avoid !important;
  break-inside: avoid !important;
}
.table-wrapper > table td.row-number {
  text-align: right;
}
.table-wrapper > table .numeric {
  text-align: center;
  white-space: nowrap;
}
.table-wrapper > table .currency {
  text-align: right;
  white-space: nowrap;
}
.table-wrapper > table .currency::after {
  content: " €";
}
.table-wrapper .flex-fill {
  flex-grow: 1;
}
.table-wrapper .flex-fill.left-side.align-left, .table-wrapper .flex-fill.right-side.align-right {
  flex-grow: 0 !important;
}

.data-table {
  width: 100%;
}
.data-table tr.odd-row {
  background-color: var(--light-grey-table-bg);
}
.data-table th,
.data-table td {
  border: 1px solid;
  border-color: var(--grey-table-border);
  padding: 6px;
}
.data-table th {
  text-align: center;
  border-bottom-width: 2px;
}
.data-table th.wide {
  width: 100%;
  white-space: normal;
}

.totals-table-wrapper {
  display: flex;
}
.totals-table-wrapper .totals-table {
  page-break-inside: avoid !important;
}
.totals-table-wrapper .totals-table td {
  border-width: 0;
  padding: 8px 16px;
  text-align: right;
}
.totals-table-wrapper .totals-table tbody:first-child td {
  padding-top: 16px;
}
.totals-table-wrapper .totals-table tbody td:last-child {
  white-space: nowrap;
}
.totals-table-wrapper .totals-table tbody:last-child td {
  font-weight: bold;
  border-top: 1px solid grey;
  border-bottom: 2px double grey;
}

.summary-table-wrapper {
  display: flex;
  width: 100%;
}
.summary-table-wrapper .summary-table {
  width: 100%;
  page-break-inside: avoid !important;
  background-color: var(--light-grey-table-bg);
}
.summary-table-wrapper .summary-table td {
  text-align: right;
  font-weight: bold;
  padding: 6px;
  border: 1px solid lightgrey;
}

/*# sourceMappingURL=style.css.map */
