<div class="header-block">
    <div class="flex-fill"></div>
    <div>
        <i class="bold">Leistungsempfänger</i>
        <i>Firstname 2 Lastname 2</i>
        <i>Streetname 2 27</i>
        <i>74-300 Mysliborz</i>
    </div>
</div>